@model IEnumerable<BanSach.Models.DanhMuc>

<style>
    .danhmuctong li a, .theloai li a{
        color:black
    }
    .danhmuctong li :hover, .theloai li :hover {
        text-decoration: none;
        color: chocolate;
        transition-timing-function: ease-in-out;
        transition-duration:0.25s;
    }
    .danhmuctong{
        margin-top:8px;     
    }
    .danhmuc {
        display: block;
        height: 30px;
        margin-top: 20px;
        padding-right:20px;
        
        
    }        
    .theloai {
        display: none;
        margin-left: 250px;
        margin-top: -25px;
        background-color: aliceblue;
        border-radius:10px;
        padding-right:5px;
    }
    .tentheloai {
        list-style-type: none;
        padding: 5px;
        margin: 0 25px 0 20px;
        padding-right:20px;
        width: max-content;
       
    }

    .danhmuc:hover > ul {
        display: flex;
        position: relative;
       
    }
    .container-danhmuc {
        border-left: 1px dashed black;        
        border-radius:10px;
        z-index:auto;
    }
    .banchay{
        text-decoration:none;
        list-style-type:none;
        padding:20px 0 10px 0;
    }
</style>

<div class="container-danhmuc">
    <ul class="danhmuctong">
        @{
            var temp = new BanSach.Models.DanhMuc();

            foreach (var item in Model)
            {
                if (temp.DanhMuc1 != item.DanhMuc1)
                {
                    if (Session[item.DanhMuc1] == null)
                    {
                        <li class="danhmuc">
                            <a><strong> @item.DanhMuc1</strong></a>    
                            <ul class="theloai">

                                @foreach (var item2 in Model)
                                 {
                                    if (item2.DanhMuc1 == item.DanhMuc1)
                                    {
                                        <li class="tentheloai">@Html.ActionLink(item2.TheLoai, "ProductList", "SanPhams", new { category = item2.ID }, "")</li>
                                    }
                                 }

                            </ul>
                         </li>
                    }
                }

                Session[item.DanhMuc1] = "co";
                temp = item;
            }
                foreach (var item in Model)
                {
                    Session[item.DanhMuc1] = null;
                }
           }
    
        </ul>

</div>

