@model BanSach.Models.DonHang

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div>
    <center>
        <h2>Xoá đơn </h2>

        <h3>Bạn muốn xoá đơn ?</h3>
    </center>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" style="border-radius:15px;padding:15px;"/> |
            @Html.ActionLink("Quay về quản lý đơn hàng", "Index")
        </div>
    }
</div>
