@model BanSach.Models.DonHangCT

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Xoá</h2>

<h3>Bạn muốn xoá?</h3>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Xoá" class="btn btn-danger" style="border-radius:10px; font-weight:bold;" /> |
    @Html.ActionLink("Xem", "Details", new { id = Model.IDdh }) |

    @Html.ActionLink("Quay về", "Index")
</div>
    }

